/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: slategrey;
  color: white;
}

h1 {
  font-style: normal;
  color: #ffa500;
  font-family: verdana, arial, sans-serif; 
}

button {
  padding: 10px;
  border-radius: 10px;
}

#gameButtonArea > button {
  width: 200px;
  height: 200px;
  margin: 2px;
}

.hidden {
  display: none;
}

#button1 {
  background: lightgreen;
}

#button1:active img {
  visibility: visible
}

#button1 img {
  visibility: hidden
}

#button1:active, #button1.lit {
  background: green;
}

#button2 {
  background: lightblue;
}

#button2 img {
  visibility: hidden
}

#button2:active, #button2.lit {
  background: blue;
}

#button2:active img {
  visibility: visible
}

#button3 {
  background: pink;
}

#button3:active img {
  visibility: visible
}

#button3 img {
  visibility: hidden
}

#button3:active, #button3.lit {
  background: hotpink;
}

#button4 {
  background: lightyellow;
}

#button4:active img {
  visibility: visible
}

#button4 img {
  visibility: hidden
}

#button4:active, #button4.lit {
  background: yellow;
}

#button5 {
  background: cyan;
}

#button5:active img {
  visibility: visible
}

#button5 img {
  visibility: hidden
}

#button5:active, #button5.lit {
  background: purple;
}

#button6 {
  background: orange;
}

#button6:active img {
  visibility: visible
}

#button6 img {
  visibility: hidden
}

#button6:active, #button6.lit {
  background: teal;
}
